<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service
            android:name="dev.veryniche.stitchcounter.storage.datasync.DataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/projectUpdate"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/projectDelete"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/allProjectSync"
                    android:scheme="wear" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />-->
            <!--                <data-->
            <!--                    android:host="*"-->
            <!--                    android:pathPrefix="/start-activity"-->
            <!--                    android:scheme="wear" />-->
            <!--            </intent-filter>-->
        </service>

    </application>
</manifest>